* {
  box-sizing: border-box;
}

h1 {
  font-weight: bold;
  letter-spacing: -0.05ch;
  font-size: clamp(8rem, 24vw + 4rem, 32rem);
  background: linear-gradient(#00b050, hsl(0 0% 50%));
  background-clip: text;
  color: transparent;
  -webkit-text-stroke: 1px hsl(0 0% 90%);
  margin: 0;
  line-height: 1;
}

svg {
  display: none;
}

@media(prefers-reduced-motion: no-preference) {
  h1 {
    animation: scribble infinite 0.2s;
  }
}

@keyframes scribble {
  0% {
    filter: url("#scribble--0");
  }
  25% {
    filter: url("#scribble--1");
  }
  50% {
    filter: url("#scribble--2");
  }
  75% {
    filter: url("#scribble--3");
  }
  100% {
    filter: url("#scribble--4");
  }
}