{% extends 'layout.html' %}

{% block content %}
    <!-- <style>
        body {
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: #00b050;
        }
    </style> -->
<link rel="stylesheet" type="text/css" href="/static/wobbly.css">
<div style="height: 100%; display: flex; justify-content: center; align-items: center;">
    <div class="text-center">
        <div class="error-text" style="color: #00b050; font-size: 15em; font-weight: bold;"><h1>F U</h1></div>
      <svg>
        <filter id="scribble--0">
          <feturbulence basefrequency="0.02" numoctaves="3" result="noise" seed="0"></feturbulence>
          <fedisplacementmap id="displacement" in="SourceGraphic" in2="noise" scale="2"></fedisplacementmap>
        </filter>
        <filter id="scribble--1">
          <feturbulence basefrequency="0.02" numoctaves="3" result="noise" seed="1"></feturbulence>
          <fedisplacementmap in="SourceGraphic" in2="noise" scale="3"></fedisplacementmap>
        </filter>
        <filter id="scribble--2">
          <feturbulence basefrequency="0.02" numoctaves="3" result="noise" seed="2"></feturbulence>
          <fedisplacementmap in="SourceGraphic" in2="noise" scale="2"></fedisplacementmap>
        </filter>
        <filter id="scribble--3">
          <feturbulence basefrequency="0.02" numoctaves="3" result="noise" seed="3"></feturbulence>
          <fedisplacementmap in="SourceGraphic" in2="noise" scale="3"></fedisplacementmap>
        </filter>
        <filter id="scribble--4">
          <feturbulence basefrequency="0.02" numoctaves="3" result="noise" seed="4"></feturbulence>
          <fedisplacementmap in="SourceGraphic" in2="noise" scale="2"></fedisplacementmap>
        </filter>
      </svg>
      
        <p class="lead" style="font-size: 2em;">YOU MF CAN'T EVEN TYPE PROPERLY</p>
      <br>
      
      {% include 'go-home_button.html' %}
    </div>
</div>
{% endblock %}
