<div class="col-md-4 mb-4">
  <div onclick='goToPost("{{ post }}", this, event.target.tagName)' class="card">
      <div class="card-body">
          {% if posts[post].username == username %}
              <a href="/delete_post/{{ post }}" class="float-right" title="Delete Post">
                  <i class="bi bi-trash-fill" style="color: #11557c;"></i>
              </a>
          {% endif %}
          <h6 class="card-subtitle mb-2 text-muted">Posted by <a href="/u/{{ posts[post].username }}">{{ posts[post].username }}</a></h6>
        <h5 class="card-title">
            {{ posts[post].title }}
        </h5>
          {% if posts[post].image %}
              <img src="{{ posts[post].image }}" class="card-img-top mb-2" alt="Post Image" style="border-radius: 0.45ex; max-height: 200px; object-fit: cover;">
          {% endif %}
          <p style='max-height: 500px; overflow: auto;' class="card-text">{{ posts[post].text }}</p>
                    <button onclick='upvote("{{ post }}", this)' type="button" class="btn btn-success btn-sm">
                      {% if g.username in posts[post].upvotes %}
                      <i class="bi bi-caret-up-fill"></i>
                      {% else %}
                      <i class="bi bi-caret-up"></i>
                      {% endif %}
                      <!-- {{ posts[post].upvotes|length }} -->
                    </button>
                    <h6>{{ posts[post].upvotes|length - posts[post].downvotes|length}}</h6>
                    <button onclick='downvote("{{ post }}", this)' type="button" class="btn btn-danger btn-sm">
                      {% if g.username in posts[post].downvotes %}
                      <i class="bi bi-caret-down-fill"></i>
                      {% else %}
                      <i class="bi bi-caret-down"></i>
                      {% endif %}
                      <!-- {{ posts[post].downvotes|length }}                   -->
                    </button>
                </div>
            </div>
        </div>